html,
body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
}

.first-elem-div:hover .second-elem-div {
  animation-name: kokon;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  
}

@keyframes kokon {
  0% {
    transform: translateY(120%)
  } 

  100% {
    transform: translateY(0%)
  }

}