@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
body {
  margin: 0;
  padding: 0;
}
.header-div{

}
.logo-div{
  position: absolute;
  left: 10%; /* Расстояние от правого края окна браузера */
}
.logo-div-text{
  position: absolute;
  left: 13%; /* Расстояние от правого края окна браузера */
}

.authButtons {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
}

.center {
  top: 100px;
  width: 150px;
  height: 60px;
}
.container-left-button {
  position: relative;
}
.container-right-button {
  margin-left: 2%;
  position: relative;
}
.btn-login, .btn-register {
  width: 150px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  outline: none;
  transition: 1s ease-in-out;
}
.btn-login {
  border: 1px solid #3ec93e;
}
.btn-register {
  border: 4px solid #3e7ac9;
}

.border-login, .border-register {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}
.border-login {
  stroke: #3ec93e;
}
.border-register {
  stroke: #fff;
}

.btn-login:hover {
  transition: 0.5s ease-in-out;
}

.btn-register:hover {
  transition: 0.5s ease-in-out;
  background: #3e7ac9;
}

.btn-login:hover > svg, .btn-register:hover > svg {
  stroke-dashoffset: -480;
}

.btn-login > p, .btn-register > p {
  color: black;
  font-size: 18px;
  font-weight: 100;
}

.btn-login:hover > p, .btn-register:hover > p {
  color: black;
  font-size: 18px;
  font-weight: 100;
}
